### Contents
### 1.0 import libraries
### 2.0 import data
### 3.0 create crosstabs for analysis in excel

## 1.0 Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter
import seaborn as sns
import scipy

## 2.0 Import data

In [2]:
#create path
path = r"C:\Users\Asus 17\OneDrive\Desktop\Achievement 4\instacart_basket_analysis"

In [5]:
#import complete dataframe
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'complete_dataframe.pkl'))

In [6]:
#check it out
df.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,date_joined,n_dependants,fam_status,income,department,region,age_group,age_fam,income_range,dependants
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,2/17/2019,3,married,40423,beverages,South,young,Younger - married,Regular income,yes

In [7]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price', 'spending_flag', 'median_days_since_prior_order',
       'frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'department', 'region',
       'age_group', 'age_fam', 'income_range', 'dependants'],
      dtype='object')

## 3.0 Create crosstabs for analysis in excel

In [24]:
#make a crosstab of loyalty flag and dependants

dep_loy = pd.crosstab(df['loyalty_flag'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [25]:
#sort the columns

dep_loy = dep_loy[['yes', 'no']]

In [12]:
#send it to excel

dep_loy.to_clipboard()

In [16]:
#make a crosstab of frequency_flag and dependants
dep_fre = pd.crosstab(df['frequency_flag'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [18]:
#sort the columns
dep_fre = dep_fre[['yes', 'no']]

In [19]:
#send it to excel
dep_fre.to_clipboard()

In [20]:
#check out the stats on price by dependants
df.groupby('dependants').agg({'prices' : ['min', 'max', 'mean']})

           prices
              min   max      mean
dependants
no            1.0  25.0  7.789550
yes           1.0  25.0  7.790937

In [21]:
#check out the stats on frequency by dependants
df.groupby('dependants').agg({'days_since_prior_order' : ['min', 'max', 'mean']})

           days_since_prior_order
                              min   max       mean
dependants
no                            0.0  30.0  10.791951
yes                           0.0  30.0  10.816416

In [22]:
#check out the stats on order number by dependants
df.groupby('dependants').agg({'order_number' : ['min', 'max', 'mean']})

           order_number
                    min max       mean
dependants
no                    1  99  17.957922
yes                   1  99  17.792891

In [26]:
#make a crosstab of spending flag and dependants

dep_spen = pd.crosstab(df['spending_flag'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [27]:
#sort the columns

dep_spen = dep_spen[['yes', 'no']]

In [28]:
#send it to excel
dep_spen.to_clipboard()

In [42]:
#get the values of orders per day for yes and no dependants
dep_days = df.groupby('dependants')['order_day_of_week'].value_counts(dropna = False).sort_index()

In [43]:
dep_days

dependants  order_day_of_week
no          0                    1477078
            1                    1362350
            2                    1002581
            3                     917042
            4                     905259
            5                    1014174
            6                    1061197
yes         0                    4431532
            1                    4049336
            2                    3022125
            3                    2752493
            4                    2719735
            5                    3019555
            6                    3230107
Name: count, dtype: int64

In [41]:
# send it to excel
dep_days.to_clipboard()

In [44]:
#get the values of orders per hour for yes and no dependants
dep_hour = df.groupby('dependants')['order_hour_of_day'].value_counts(dropna = False).sort_index()

In [45]:
dep_hour

dependants  order_hour_of_day
no          0                      51434
            1                      26731
            2                      16732
            3                      12375
            4                      12205
            5                      21284
            6                      70870
            7                     220071
            8                     415947
            9                     589784
            10                    655908
            11                    651573
            12                    620072
            13                    631170
            14                    639863
            15                    636775
            16                    610454
            17                    496294
            18                    382100
            19                    299333
            20                    234578
            21                    190981
            22                    154326
            23                     98821
yes         0                     156608
            1                      82890
            2                      48959
            3                      36421
            4                      38558
            5                      63134
            6                     210143
            7                     643142
            8                    1243163
            9                    1773827
            10                   1993836
            11                   1963307
            12                   1875723
            13                   1908106
            14                   1928040
            15                   1899191
            16                   1803227
            17                   1486051
            18                   1169084
            19                    894545
            20                    696331
            21                    572130
            22                    452734
            23                    285733
Name: count, dtype: int64

In [46]:
#send it to excel
dep_hour.to_clipboard()

In [48]:
#make a crosstab of price range and dependants

dep_price = pd.crosstab(df['price_range_loc'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [49]:
#sort the columns

dep_price = dep_price[['yes', 'no']]

In [50]:
#send it to excel
dep_price.to_clipboard()

In [54]:
#make a crosstab of gender and dependants

dep_gen = pd.crosstab(df['gender'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [55]:
#sort the columns

dep_gen = dep_gen[['yes', 'no']]

In [56]:
#send it to excel
dep_gen.to_clipboard()

In [57]:
#make a crosstab of age group and dependants

dep_age = pd.crosstab(df['age_group'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [58]:
#sort the columns

dep_age = dep_age[['yes', 'no']]

In [59]:
#send it to excel
dep_age.to_clipboard()

In [60]:
#make a crosstab of income and dependants

dep_inc = pd.crosstab(df['income_range'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [61]:
#sort the columns

dep_inc = dep_inc[['yes', 'no']]

In [62]:
#send it to excel
dep_inc.to_clipboard()

In [63]:
#make a crosstab of department and dependants

dep_depts = pd.crosstab(df['department'], df['dependants']).sort_values(by = 'yes', ascending = False)

In [65]:
#sort the columns

dep_depts = dep_depts[['yes', 'no']]

In [66]:
#send it to excel
dep_depts.to_clipboard()